.home-page {
  margin: 0 auto;
  max-width: 1400px;
  padding: var(--p) 0;
}

.hero {
  background-color: var(--color-accent);
  color: var(--color);
  padding: calc(var(--p) * 3) var(--p);
  text-align: center;
  border-radius: 8px;
  margin-bottom: var(--m);
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--p);
  margin-bottom: var(--m);
}

.feature-card {
  background-color: var(--color);
  padding: var(--p);
  border-radius: var(--br);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
  color: var(--bg-color-accent);
  margin-bottom: var(--m);
}

.choose-direction {
  text-align: center;
}

.choose-direction h1 {
  color: var(--bg-color-accent);
  margin-bottom: var(--m);
}

.directions-container {
  width: 100%;
  margin: 0 auto;
}

.direction-dropdown {
  margin-bottom: var(--m);
  border: 1px solid #ddd;
  border-radius: var(--br);
  overflow: hidden;
}

.direction-title {
  padding: var(--p);
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: var(--bg-color-accent);
}

.direction-title:hover {
  filter: brightness(90%);
}

.direction-dropdown {
  display: grid;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.3s ease;
}

.direction-dropdown.open {
  grid-template-rows: auto 1fr;
}

.direction-title {
  cursor: pointer;
  padding: var(--p);
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.direction-content {
  overflow: hidden;
  min-height: 0;
  padding: 0 var(--p);
  background-color: var(--color);
}

.direction-dropdown.open .direction-content {
  padding-bottom: var(--p);
}

.dropdown-icon {
  margin-left: 1rem;
}

.details-button {
  margin-right: auto;
  display: block;
  width: fit-content;
}

.direction-content a {
  margin: 0;
}

.direction-content ul {
  list-style-type: none;
  padding: 0;
}

.direction-content li {
  padding: var(--p) 0;
  text-align: left;
  border-bottom: 1px solid var(--bg-color-accent);
}

.direction-content li:last-child {
  border-bottom: none;
}

.dropdown-icon {
  font-size: 1rem;
  margin-left: var(--m);
}

@media screen and (max-width: 750px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
}
